*{
    font-family: 'Montserrat',
    sans-serif;
}
/* landing */
#landing {
    background-image: url('../images/backgrounds/hero.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
    background-position: center;
    height: 100vh;
}

#home{
    text-align: center;
    padding-top: 100px;
}
#mouse{
    padding-top: 250px;
}

/* select */
#select {
    background-color: #adad85;

}

.container-fluid {
    padding: 0px;
    overflow-x: hidden;
}

/* about */
#about {
    background-image: url('../images/backgrounds/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    background-position: center;
}

fieldset {
    padding-top: 0.35em;
    border: 3px solid #adad85;
    width: 43%;
    position: relative;
    left: 30%;
}

/* sale */
#sale {
    background-color: #393e46;
    /* padding-bottom: 0px; */
}

/* social */
#social {
    background-color: #222831;
    /* padding-top: 60px; */
}

#links {
    padding-right: 100px;
    align-items: center;
}

footer {
    margin-top: 50px;
}